<form method="post" action="{{ path('seance_delete', {'id': seance.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seance.id) }}">
    <button class="btn">Supprimer</button>
</form>
