{% extends 'base.html.twig' %}

{% block title %}Edit Classe{% endblock %}

{% block body %}
    <h1>Modifier Classe</h1>

    {{ include('classe/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('classe_index') }}">Liste des classes</a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
