<form method="post" action="{{ path('matiere_delete', {'id': matiere.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere.id) }}">
    <button class="btn">Supprimer</button>
</form>
