<form method="post" action="{{ path('professeur_delete', {'id': professeur.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professeur.id) }}">
    <button class="btn">Supprimer</button>
</form>
